.idea
.vaadin
*.iml
**/.iml
target
*.exe.stackdump
*.log
**/.log
node/*
.cache/*
.cache

**/themes/mytheme/styles.css
**/themes/root/styles.css
*/themes/mytheme/styles.css
*/themes/root/styles.css

**/resources/export/*.csv

*.svg
*.js
*.wsdl
**/*.wsdl
storage
**/storage/*

application*.ini
application*.bak
cluster.ini
rdm.ini
**/*.log.*

**/flyway.properties

*.json

**/node_modules/*
**/tomcat*

!webpack.config.js
webpack.generated.js
package.json

mqjms*.*

**/*.jasper

application/ui/hf.fo

**/META-INF/*.version
git

application/ui/src/main/resources/logback.xml

# Неактуальные более файлы, могут валяться в локальном репо и случайно зайти с коммитом
**/flyway.content.properties
**/flyway.events.properties
**/flyway.numerator.properties
**/flyway.participants.properties
**/flyway.pbr.properties
**/flyway.processing.properties
**/flyway.rdm.properties
**/flyway.roles.properties
**/flyway.schedule.properties
**/flyway.settings.properties
**/flyway.testmodule.properties